<div class="product">
    <a routerLink="/product/1" class="product__image">
        <img src="{{product.url}}"
            alt="Product Image" />
    </a>
    <div class="product__info">
        <strong class="product__title">{{product.name}}</strong>
        <p class="product__price">${{product.price}}</p>
    
        <div class="product__quantitySelector">
            <button (click)="subtract()">-</button>
            <span>{{amountInCart}}</span>
            <button (click)="add()">+</button>
        </div>
        <button class="product__cta" (click)="addToCart()">Add to cart</button>
    </div>

</div>